header {
  margin: auto;
  padding: auto;
  height: 100px;
  background-color: aquamarine;
}
.container1 {
    display: inline;
  font-size: 20px;
}
.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .container li {
    float: left;
  }
  
  .container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .container li a:hover {
    background-color: #111;
  }