.header {
  justify-content: center;
  height: 100px;
  background-color: #4e658d;
  display: flex;
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
}

.top {
  height: 50px;
  background-color: #5f93ab;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topTitle {
  align-items: center;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
.highlight {
  font-size: 18px;
  background-color: azure;
  color: #34307e;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.navbar {
  display: flex;
  height: 20px;
  background-color: #4e658d;
  flex-direction: row;
  margin: 0;
}
.timeRange {
  margin: auto;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start; /* Agregado */
}

.card {
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 5px;
  border-radius: 15px;
  font-family: sans-serif;
}
.cardHeader {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

.cardBody {
  display: flex;
  height: auto;
  padding: 10px;
}

.cardBody .icon {
  align-self: center;
  margin-left: auto;
}

.cardBody h1 {
  font-size: 70px;
}

.cardBody p {
  font-size: 30px;
}

.card2 {
  padding: 20px;
  display: flex;
  background-color: white;
  background-size: cover;
  background-position-x: center;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: min-content;
  margin: 5px;
  border-radius: 15px;
  font-family: sans-serif;
}
.cardHeader2 {
  font-size: 24px;
  margin-bottom: -40px;
  padding: 10px;
}

.cardBody2 {
  display: flex;
  height: auto;
  justify-content: center;
  padding: 10px;
}
.cardData {
  margin: 2%;
  border-right: 1px solid;
  border-image: linear-gradient(to top, #0000, #000, #0000);
  border-image-slice: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card3 {
  display: flex;
  background-color: white;
  background-size: cover;
  background-position-x: center;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: min-content;
  margin: 5px;
  border-radius: 15px;
  font-family: sans-serif;
}
.cardHeader3 {
  font-size: 24px;
  margin-bottom: -40px;
  padding: 10px;
}

.cardBody3 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  grid-gap: 10px; /* Espacio entre los elementos */
  height: auto;
  padding: 10px;
}

.details {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #0000, #000, #0000);
  border-image-slice: 1;
}

.card4 {
  display: flex;
  background-color: white;
  background-size: cover;
  background-position-x: center;
  flex-direction: column;
  justify-content: space-between;
  width: min-content;
  margin: 5px;
  height: min-content;
  border-radius: 15px;
  font-family: sans-serif;
}
.cardHeader4 {
  font-size: 24px;
  margin-bottom: -40px;
  padding: 10px;
}

.cardBody4 {
  align-self: center;
  margin: 10px;
  display: flex;
  height: auto;
  padding: 10px;
}

.cardDetails4 {
  margin: 10px;

  border-right: 1px solid;
  border-image: linear-gradient(to top, #0000, #000, #0000);
  border-image-slice: 1;
}
